/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

.title {
	font-family: monospace;
}

.aboutFont {
	font-family: fantasy;
}

/* .paragraphFont {
	font-family: Arial, Helvetica, sans-serif;
} */

body {
	background-color: rgb(240, 240, 240);
}

slideColor {
	background-color: rgb(236, 233, 233);
}

@layer components {
	.Center {
		@apply w-[40%]  m-auto flex   flex-col space-y-5  justify-center  h-screen;
	}
}


@layer components {
	.Mobile {
		@apply w-[90%]  m-auto flex   flex-col space-y-5  justify-center  h-screen;
	}
}

